@model Shopee_Management.Models.ModelTrangChu
@{
    ViewBag.Title = "Shopee Việt Nam";
    Layout = "~/Views/Shared/_ShopeeLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <link rel="stylesheet" href="~/assets/css/base.css" />
    <script src="~/assets/js/chuyenDoiNumeric.js"></script>
    <style>
        /* Style cho nhãn và các input */
        .home-filter__label {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }
            .home-filter__label select {
                width: 200px; /* Điều chỉnh kích thước mong muốn */
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            .home-filter__label label {
                margin-bottom: 0;
            }

            .home-filter__label input[type="text"]{
                width: 150px;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            /* Style cho nút Lọc */
            .home-filter__label button[type="submit"],
            .home-filter__label .clear-filter-button {
                padding: 8px 16px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }
                .home-filter__label button[type="submit"]{
                    background-color: aqua;
                }

                .home-filter__label button[type="submit"]:hover,
                .home-filter__label .clear-filter-button:hover {
                    filter: brightness(90%);
                }

        /* Style cho nút Xóa Bộ Lọc */
        .home-filter__label .clear-filter-button {
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            background-color: #e74c3c;
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-left: 10px;
        }

            .home-filter__label .clear-filter-button:hover {
                background-color: #c0392b;
            }

    </style>
</head>
<body>
    <div class="app__container">
        <div class="grid">
            <div class="grid__row app__content">

                <div class="grid__column-12">
                    <div class="home-fliter">
                        @using (Html.BeginForm("FilterProducts", "TrangChu", FormMethod.Post))
                        {
                            <div class="home-filter__label">
                                <label for="nganhHangId">Chọn ngành hàng:</label>
                                @Html.DropDownList("nganhHangId", new SelectList(Model.nganhhang, "id_nganhhang", "ten_nganhhang"), "Chọn ngành hàng")

                                <label for="minPrice">Giá từ:</label>
                                @Html.TextBox("minPrice")

                                <label for="maxPrice">Đến:</label>
                                @Html.TextBox("maxPrice")

                                <button type="submit">Lọc</button>
                                <!-- Button to clear filters -->
                                <a href="@Url.Action("Index", "TrangChu")" class="clear-filter-button">Xóa Bộ Lọc</a>
                            </div>
                        }
                    </div>


                    <div class="home-product">
                        <div class="grid__row">
                            <!-- Product item -->
                            @foreach (var item in Model.ctsp)
                            {
                                <div class="grid__column-2-4 home-product-item-wrapper">
                                    <div class="home-product-item">
                                        <a href="@Url.Action("Detail", "TrangChu", new { productId = item.id_ctsp })" style="text-decoration: none; color: var(--black-color);">
                                            <div class="home-product-item__img" style="border: 1px solid #ccc; background-image: url(https://png.pngtree.com/element_origin_min_pic/17/08/13/7d6b28465113fefd1a263f392aa41666.jpg);"></div>
                                            <h4 class="home-product-item__name">@item.SANPHAM.ten_sp</h4>
                                            <div class="home-product-item__price">
                                                <span class="home-product-item__price-current numeric_value">@item.SANPHAM.gia_sp</span>
                                                <span class="home-product-item__buy" style="font-size: 1.4rem; margin-left: 100px;">
                                                    <a href="~/ShoppingCart/AddToCart/@item.id_ctsp" style="text-decoration: none; color: var(--black-color);">
                                                        <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                                    </a>
                                                </span>
                                            </div>
                                        </a>
                                        <div class="home-product-item__action">
                                            @*<span class="home-product-item__like home-product-item__like--liked">
                                                <i class="home-product-item__like-icon-empty fa-regular fa-heart"></i>
                                                <i class="home-product-item__like-icon-fill fa-solid fa-heart"></i>
                                            </span>*@
                                            @*<div class="home-product-item__rating">
                                                <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                                <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                                <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                                <i class="home-product-item__star--gold fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                            <span class="home-product-item__sold">0 Đã bán</span>*@
                                        </div>
                                        <div class="home-product-item__origin">
                                            <span class="home-product-item__brand">@item.THUONGHIEU.ten_brand</span>
                                            <span class="home-product-item__origin-name">@item.XUATXU.ten_member</span>
                                        </div>
                                        @*<div class="home-product-item__favourite">
                                            <i class="fa-solid fa-check"></i>
                                            <span>Yêu thích</span>
                                        </div>*@
                                        @*<div class="home-product-item__sale-off">
                                            <span class="home-product-item__sale-off-percent">43%</span>
                                            <span class="home-product-item__sale-off-label">GIẢM</span>
                                        </div>*@
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    @*<ul class="pagination home-product__pagination">
                        <li class="pagination-item">
                            <a href="#" class="pagination-item__link">
                                <i class="pagination-item__icon fa-solid fa-angle-left"></i>
                            </a>
                        </li>

                        <li class="pagination-item pagination-item--active">
                            <a href="#" class="pagination-item__link">1</a>
                        </li>

                        <li class="pagination-item">
                            <a href="#" class="pagination-item__link">2</a>
                        </li>

                        <li class="pagination-item">
                            <a href="#" class="pagination-item__link">3</a>
                        </li>

                        <li class="pagination-item">
                            <a href="#" class="pagination-item__link">4</a>
                        </li>

                        <li class="pagination-item">
                            <a href="#" class="pagination-item__link">5</a>
                        </li>

                        <li class="pagination-item">
                            <a href="#" class="pagination-item__link">...</a>
                        </li>

                        <li class="pagination-item">
                            <a href="#" class="pagination-item__link">14</a>
                        </li>

                        <li class="pagination-item">
                            <a href="#" class="pagination-item__link">
                                <i class="pagination-item__icon fa-solid fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>*@
                </div>
            </div>
        </div>
    </div>
</body>
