@model IEnumerable<Shopee_Management.Models.SHIPPER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
<style>
    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .table th {
            background-color: #ffcc00;
            color: #333;
        }

        .table tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .table tr:nth-child(odd) {
            background-color: #f6f88c;
        }



    .action-links a {
        margin-right: 5px;
        color: #0000ff;
    }

    p {
        margin-top: 20px;
        color: #555;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #ee4d2d;
    }

    .btn {
        min-width: 70px;
        height: 34px;
        text-decoration: none;
        border: none;
        border-radius: 2px;
        font-size: 1.2rem;
        padding: 0 12px;
        outline: none;
        cursor: pointer;
        color: #fff !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 1.6rem;
    }

        .btn.btn--add {
            color: #fff;
            background-color: #0ab618;
        }

        .btn.btn--edit {
            color: #fff;
            background-color: #ffce3e;
        }

        .btn.btn--delete {
            color: #fff;
            background-color: #e72311;
        }

    .btn-form__controls-mr {
        margin-right: 8px;
    }
</style>

<h2>QUẢN LÝ SHIPPER</h2>

<div class="btn-form__controls">
    <a class="btn btn--add" href="~/SHIPPERs/Create">
        <i class="fa-solid fa-plus"></i>
    </a>
</div>

<table class="table">
    <tr>
        <th>
            Họ tên
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Email
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Trạng thái
        </th>
        <th>
            Cty vận chuyển
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
     {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ho_ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dia_chi)
            </td>
            @{
                if (item.trang_thai_shipper == 0)
                {
                    <td>Tạm vắng</td>
                }
                if (item.trang_thai_shipper == 1)
                {
                    <td>Chờ đợi vận chuyển</td>
                }
                if (item.trang_thai_shipper == 2)
                {
                    <td>Đang gửi hàng</td>
                }
            }
            <td>
                @Html.DisplayFor(modelItem => item.CTYVANCHUYEN.ten_cty)
            </td>
            <td>
                <a class="btn btn--edit btn-form__controls-mr" id="edit-btn" href="~/SHIPPERs/Edit/@item.id_shipper">
                    <i class="fa-regular fa-pen-to-square"></i>
                </a>
                <a class="btn btn--delete" href="~/SHIPPERs/Delete/@item.id_shipper">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </td>
        </tr>
     }

</table>
