@model Shopee_Management.Models.KHUYENMAI

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4 >KHUYẾN MÃI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tỷ lệ giảm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ty_le_giam)
        </dd>

        <dt>
            Ngày tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay_tao)
        </dd>

        <dt>
          Ngày bắt đầu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay_bat_dau)
        </dd>

        <dt>
           Ngày kết thúc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay_ket_thuc)
        </dd>

        <dt>
           Người bán hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGUOIBANHANG.ten_cua_hang)
        </dd>

        <dt>
            Nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHANVIEN.ho_ten)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-default" /> |
    @Html.ActionLink("Back to List", "Index")

</div>
    }
</div>
