@model Shopee_Management.Models.KHUYENMAI

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KHUYENMAI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ty_le_giam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ty_le_giam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngay_tao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay_tao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngay_bat_dau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay_bat_dau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngay_ket_thuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay_ket_thuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGUOIBANHANG.ten_cua_hang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGUOIBANHANG.ten_cua_hang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NHANVIEN.ho_ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHANVIEN.ho_ten)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_voucher }) |
    @Html.ActionLink("Back to List", "Index")
</p>
