@model IEnumerable<Shopee_Management.Models.TINTUC>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2 style="text-align: center; ">TIN TỨC </h2>

<p>
    @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>

        <th>
            <strong>TIÊU ĐỀ</strong>
        </th>

        <th>
            <strong>ẢNH</strong>
        </th>

        <th>
            <strong>NGÀY ĐĂNG</strong>
        </th>
        <th>
            <strong>TÊN THỂ LOẠI</strong>
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="javascript:void(0);" class="popupDetail" data-toggle="modal" data-target="#ModalDetails" data-id="@item.id_tin_tuc" style="color: #666666; transition: color 0.3s;" onmouseover="this.style.color='orange';" onmouseout="this.style.color='#666666';">@item.tieu_de</a>
            </td>
            <td>
                <img src="~/imagesTINTUC/@item.image_tintuc" alt="Image" class="img-thumbnail" style="width:100px; height:100px;" />
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ngay_dang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.THELOAITIN.ten_the_loai)
            </td>
        </tr>
    }

</table>



<!-- Thêm mã JavaScript để tạo modal body -->
<script>
    $(document).ready(function () {
        $('.popupDetail').on('click', function (e) {
            e.preventDefault(); // Ngăn chặn mặc định của liên kết
            var id = $(this).data('id');
            $.ajax({
                url: '@Url.Action("Details", "TINTUCs")',
                data: { id: id },
                type: 'GET',
                success: function (result) {
                    // Hiển thị nội dung chi tiết trong modal body
                    $('#ModalDetails .modal-body').html(result);
                    // Hiển thị modal
                    $('#ModalDetails').modal('show');
                },
                error: function () {
                    // Xử lý lỗi Ajax
                    alert('Đã xảy ra lỗi khi tải thông tin chi tiết.');
                }
            });
        });
    });
</script>

<!-- Modal Details -->
<div class="modal fade" id="ModalDetails" tabindex="-1" role="dialog" aria-labelledby="ModalDetailsTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" style="text-align:center;">CHI TIẾT TIN TỨC</h4>
            </div>
            <div class="modal-body">
                <!-- Nội dung chi tiết tin tức sẽ được hiển thị ở đây -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

