@model IEnumerable<Shopee_Management.Models.SANPHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var modelData = Model;
}
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="ManagerInfo" style="margin-bottom:25px;">
            <table>
                <tr>
                    <td colspan="14"></td>
                    <td class="control" colspan="3">
                        <a style="width:100%" href=""></a>
                    </td>
                    <td class="control">
                        <a href="~/QuanLySanPham/ThemCTSP">Thêm Chi Tiết Sản Phẩm</a>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive table--no-card m-b-30">
                    <table class="table table-borderless table-striped table-earning">
                        <thead>
                            <tr>
                                <th>Mã chi tiết</th>
                                <th>Mã sản phẩm</th>
                                <th>Mã nhà bán hàng</th>
                                <th>Mã kích cỡ</th>
                                <th>Mã màu</th>
                                <th>Mã thương hiệu</th>
                                <th>Mã xuất xứ</th>
                                <th>Mã ngành hàng</th>
                                <th>Mã ngành hàng con</th>
                                <th>Mã ngành hàng cấp 3</th>
                                <th>Số lượng</th>
                                <th>Cập nhật</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.ChiTietSPList)
                            {
                                <tr>
                                    <td>@item.id_ctsp</td>
                                    <td>@item.id_sp</td>
                                    <td>@item.id_nbh</td>
                                    <td>@item.id_size</td>
                                    <td>@item.id_color</td>
                                    <td>@item.id_brand</td>
                                    <td>@item.id_member</td>
                                    <td>@item.id_nganhhang</td>
                                    <td>@item.id_nhcon</td>
                                    <td>@item.id_nhc3</td>
                                    <td>@item.so_luong</td>
                                    <td>
                                        <button class="edit-product-detail" data-id="@item.id_ctsp">Edit</button>
                                    </td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="ManagerInfo">
            <table>
                <tr>
                    <td colspan="14"></td>
                    <td class="control" colspan="3">
                        <a style="width:100%" href=""></a>
                    </td>
                    <td class="control">
                        <a href="~/QuanLySanPham/ThemSP">Thêm Sản Phẩm</a>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="row m-t-30">
            <div class="col-md-12">
                <!-- DATA TABLE-->
                <div class="table-responsive m-b-40">
                    <table class="table table-borderless table-data3">
                        <thead>
                            <tr>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá sản phẩm</th>
                                <th>Cập nhật</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.SanPhamList)
                            {
                                <tr>
                                    <td>@item.id_sp</td>
                                    <td>@item.ten_sp</td>
                                    <td>@item.gia_sp</td>
                                    <td>
                                        <button class="edit-product" data-id="@item.id_sp">Edit</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- END DATA TABLE-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".edit-product").click(function () {
        var productId = $(this).data("id");
        window.location.href = '/QuanLySanPham/CapNhatSP/' + productId;
    });
    $(".edit-product-detail").click(function () {
        var productId = $(this).data("id");
        window.location.href = '/QuanLySanPham/CapNhatCTSP/' + productId;
    });
</script>