@model Shopee_Management.Models.DONHANG

@{
    ViewBag.Title = "Details";
}

<h2>Chi Tiết</h2>

<div>
    <h4>Đơn Hàng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ngày Đặt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay_dat)
        </dd>

        <dt>
            Trạng Thái Đơn Hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trang_thai_dh)
        </dd>

        <dt>
            Tình Trạng Thanh Toán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tt_thanh_toan)
        </dd>

        <dt>
            Tổng Cộng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tong_cong)
        </dd>

        <dt>
            Thành Tiền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thanh_tien)
        </dd>

        <dt>
            Họ Tên Khách Hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.ho_ten)
        </dd>

        <dt>
            Tên Cửa Hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGUOIBANHANG.ten_cua_hang)
        </dd>

        <dt>
            Phương Thức Thanh Toán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PTTT.ten_pttt)
        </dd>

        <dt>
            Mã Nhà Bán Hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHUYENMAI.id_nbh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.id_don }) |
    @Html.ActionLink("Danh sách đơn hàng", "Index")
</p>
