@model IEnumerable<Shopee_Management.Models.SANPHAM>
@using Shopee_Management.Controllers
@{
    ViewBag.Title = "QuanLySanPham";
    Layout = "~/Views/Shared/_KenhBanHangLayout.cshtml";
    var sanPhamList = (List<Shopee_Management.Models.SANPHAM>)ViewBag.SanPhamList;
    var nbhList = (List<Shopee_Management.Models.NGUOIBANHANG>)ViewBag.NBHList;
    var sizeList = (List<Shopee_Management.Models.KICHCO>)ViewBag.SizeList;
    var colorList = (List<Shopee_Management.Models.BANGMAU>)ViewBag.ColorList;
    var brandList = (List<Shopee_Management.Models.THUONGHIEU>)ViewBag.BrandList;
    var memberList = (List<Shopee_Management.Models.XUATXU>)ViewBag.MemberList;
    var nganhhangList = (List<Shopee_Management.Models.NGANHHANG>)ViewBag.NganhHangList;
    var nhconList = (List<Shopee_Management.Models.NGANHHANGCON>)ViewBag.NganhHangConList;
    var nhc3List = (List<Shopee_Management.Models.NGANHHANGCAP3>)ViewBag.NganhHangC3List;

    string key = Request.QueryString["key"];
    List<Shopee_Management.Models.SANPHAM> result = new List<Shopee_Management.Models.SANPHAM>();
}
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<h2>Cửa Hàng:  @ViewBag.NguoiBanHang.ten_cua_hang</h2>

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="ManagerInfo">
            <table>
                <tr>
                    <td colspan="14"></td>
                    <td class="control" colspan="3">
                        <a style="width:100%" href=""></a>
                    </td>
                    <td class="control">
                        <a href="~/NguoiBanHang/ThemSP">Thêm Sản Phẩm</a>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
        <form name="timkiem">
            <div class="form-group form-inline">
                <input name="key" type="text" placeholder="Tìm kiếm..." class="form-control form-inline">
                <input type="submit" name="submit" value="Tìm Kiếm" class="search" />
            </div>

        </form>
        @{
            if (string.IsNullOrEmpty(key))
            {
                <h3>Nhập từ khóa để tìm kiếm</h3>
            }
            else
            {
                if (key == "")
                {
                    <h3>Vui lòng nhập từ khóa</h3>
                }
                else
                {
                    result = new QuanLySanPhamController().Search(key);
                    <div class="table-responsive m-b-40">
                        <table class="table table-borderless table-data3">
                            <thead>
                                <tr>
                                    <th>Mã sản phẩm</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá sản phẩm</th>
                                    <th>Cập nhật</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in result)
                                {
                                    <tr>
                                        <td>@item.id_sp</td>
                                        <td>@item.ten_sp</td>
                                        <td>@item.gia_sp</td>
                                        <td>
                                            <button class="edit-product" data-id="@item.id_sp">Edit</button>
                                        </td>
                                        <td> <button class="detail-product" data-id="@item.id_sp">Xem Chi Tiết </button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }
        }
        <div class="row m-t-30">
            <div class="col-md-12">
                <!-- DATA TABLE-->
                <div class="table-responsive m-b-40">
                    <table class="table table-borderless table-data3">
                        <thead>
                            <tr>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá sản phẩm</th>
                                <th>Cập nhật</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.SanPhamList)
                            {
                                <tr>
                                    <td>@item.id_sp</td>
                                    <td>@item.ten_sp</td>
                                    <td>@item.gia_sp</td>
                                    <td>
                                        <button class="edit-product" data-id="@item.id_sp">Edit</button>
                                    </td>
                                    <td> <button class="detail-product" data-id="@item.id_sp">Xem Chi Tiết </button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- END DATA TABLE-->
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".edit-product").click(function () {
        var productId = $(this).data("id");
        window.location.href = '/NguoiBanHang/CapNhatSP/' + productId;
    });
    $(".detail-product").click(function () {
        var productId = $(this).data("id");
        window.location.href = '/NguoiBanHang/XemChiTietSanPham/' + productId;
    });
    $(".edit-product-detail").click(function () {
        var productId = $(this).data("id");
        window.location.href = '/NguoiBanHang/CapNhatCTSP/' + productId;
    });

    $('#searchButton').click(function () {
        var category = $('#categorySearch').val();
        // Send an AJAX request to search for products
        $.ajax({
            url: '/NguoiBanHang/SearchByCategory',
            method: 'POST',
            data: { category: category },
            success: function (data) {
                // Update the product list with the search results
                $('#productList').html(data);
            }
        });
    });

</script>