@model Shopee_Management.Models.KHACHHANG

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopee</title>
    <link href="~/CSS/dangnhap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<body>

    <!-- LOGIN FORM CREATION -->
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            <strong>Lỗi:</strong> @ViewBag.ErrorMessage
        </div>
    }


    <div class="container" id="container">
        <div class="form-container sign-in">
            @using (Html.BeginForm("DangNhap", "KhachHang", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <form>
                    <h1>Đăng nhập</h1>
                    <div class="social-icons">
                        <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                        <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                    <span>hoặc sử dụng email và mật khẩu</span>
                    @Html.TextBoxFor(model => model.username, new { @class = "form-control", placeholder = "Tên đăng nhập", required = "required" })
                    @Html.TextBoxFor(model => model.password, new { @class = "form-control", type = "password", placeholder = "Mật khẩu", required = "required" })
                    <button type="submit">Đăng nhập</button>
                </form>
            }
        </div>
        <div class="form-container sign-up">
            @using (Html.BeginForm("DangKy", "KhachHang", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <form>
                    <h1>Đăng ký</h1>
                    @Html.TextBoxFor(model => model.username, new { @class = "form-control", required = "required", placeholder = "Tên đăng nhập" })

                    @Html.TextBoxFor(model => model.email, new { @class = "form-control", required = "required", placeholder = "Email" })

                    @Html.TextBoxFor(model => model.sdt, new { @class = "form-control", required = "required", placeholder = "Số điện thoại" })

                    @Html.TextBoxFor(model => model.password, new { type = "password", @class = "form-control", required = "required", id = "passwordInput", placeholder = "Mật khẩu" })

                    <button type="submit">Đăng ký</button>
                </form>

            }
        </div>

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Chào mừng trở lại!</h1>
                    <p>Nhập thông tin cá nhân của bạn để sử dụng tất cả các tính năng trang web</p>
                    <button class="hidden" id="login">Đăng nhập</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Xin chào, bạn!</h1>
                    <p>Đăng ký với thông tin cá nhân của bạn để sử dụng tất cả các tính năng trang web</p>
                    <button class="hidden" id="register">Đăng ký</button>
                </div>
            </div>
        </div>

    </div>
    <!-- SIGN UP FORM CREATION -->

    <script src="~/Scripts/dangnhap.js"></script>

</body>

</html>
