@model Shopee_Management.Models.KHACHHANG

@{
    Layout = "~/Views/Shared/_ShopeeLayout.cshtml";
    string maskedEmail = $"{Model.email.Substring(0, 2)}******@{Model.email.Split('@')[1]}";

    Model.sdt = Model.sdt.TrimEnd();
    string maskedPhoneNumber = new string('*', Model.sdt.Length - 2) + Model.sdt.Substring(Math.Max(0, Model.sdt.Length - 2));
    
    string imageUrl = $"~/CustomerAvatar/{Model.avatar}";
}
<link href="~/CSS/account.css" rel="stylesheet" />

<section>
    <div class="container profile">
        <div class="profile-menu">
            <div class="profile-header">
                <a class="pf_avatar_link" href="/KhachHang/profile">
                    <div class="pf_avatar">
                        <div class="pf_avatar__placeholder">
                            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" class="shopee-svg-icon icon-headshot">
                                <g>
                                    <circle cx="7.5" cy="4.5" fill="none" r="3.8" stroke-miterlimit="10"></circle>
                                    <path d="m1.5 14.2c0-3.3 2.7-6 6-6s6 2.7 6 6" fill="none" stroke-linecap="round" stroke-miterlimit="10"></path>
                                </g>
                            </svg>
                        </div>
                        <img class="pf_avatar__img" src="~/CustomerAvatar/@Session["Avatar"]" alt="Avatar">
                    </div>
                </a>
                <div class="pf_content">
                    <div class="pf_content__kh">@Session["Username"]</div>
                    <div>
                        <a class="pf__edit" href="/KhachHang/editProfile">
                            <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" style="margin-right: 4px;">
                                <path d="M8.54 0L6.987 1.56l3.46 3.48L12 3.48M0 8.52l.073 3.428L3.46 12l6.21-6.18-3.46-3.48" fill="#9B9B9B" fill-rule="evenodd"></path>
                            </svg>
                            Sửa hồ sơ
                        </a>
                    </div>
                </div>
            </div>
            <div class="profile-body">
                <div class="stardust-dropdown stardust-dropdown--open">
                    <div class="stardust-dropdown__item-header">
                        <a class="pf-body__link" href="/KhachHang/profile">
                            <div class="pf-body__icon">
                                <img src="https://down-vn.img.susercontent.com/file/ba61750a46794d8847c3f463c5e71cc4">
                            </div>
                            <div class="pf-body-kh_title">
                                <span class="kh-title__content">Tài khoản của tôi</span>
                            </div>
                        </a>
                    </div>
                    <div class="stardust-dropdown__item-body stardust-dropdown__item-body--open">
                        <div class="dropdown-group">
                            <a class="menu-group__content" href="/KhachHang/profile">
                                <span class="pf-body__content form_active">Hồ sơ</span>
                            </a>
                            <a class="menu-group__content" href="/KhachHang/editProfile">
                                <span class="pf-body__content">Chỉnh sửa Hồ sơ</span>
                            </a>
                            @*<a class="menu-group__content active" href="/KhachHang/address">
                                <span class="pf-body__content">Địa chỉ</span>
                            </a>*@
                            <a class="menu-group__content active" href="#">
                                <span class="pf-body__content">Đổi mật khẩu</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="stardust-dropdown stardust-dropdown--open">
                    <div class="stardust-dropdown__item-header">
                        <a class="pf-body__link" href="/KhachHang/LichSuDonMua">
                            <div class="pf-body__icon">
                                <img src="https://down-vn.img.susercontent.com/file/f0049e9df4e536bc3e7f140d071e9078">
                            </div>
                            <div class="pf-body-kh_title">
                                <span class="kh-title__content">Đơn mua</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="stardust-dropdown stardust-dropdown--open">
                    <div class="stardust-dropdown__item-header">
                        <a class="pf-body__link" href="/KhachHang/profile">
                            <div class="pf-body__icon">
                                <img src="https://down-vn.img.susercontent.com/file/84feaa363ce325071c0a66d3c9a88748">
                            </div>
                            <div class="pf-body-kh_title">
                                <span class="kh-title__content">Kho Voucher</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-main__content">
            <div class="main__content" role="main">
                <div style="display: contents;">
                    <div class="main-body__content">
                        <div class="head-main__content">
                            <h1 class="head-form__item">Hồ sơ của tôi</h1>
                            <div class="head-form__descript">Quản lý thông tin hồ sơ để bảo mật tài khoản</div>
                        </div>
                        <div class="body-main__content">
                            <div class="body-main__left">
                                <form>
                                    <table class="resize-form">
                                        <tr>
                                            <td class="label-title">
                                                <label>Tên đăng nhập</label>
                                            </td>
                                            <td class="value-title">
                                                <div class="value-style">
                                                    <div class="value-content">@Model.username</div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label-title">
                                                <label>Họ và tên</label>
                                            </td>
                                            <td class="value-title">
                                                <div class="value-style">
                                                    <div class="value-content">@Model.ho_ten</div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label-title">
                                                <label>Email</label>
                                            </td>
                                            <td class="value-title">
                                                <div class="value-style">
                                                    <div class="value-content">@maskedEmail</div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label-title">
                                                <label>Số điện thoại</label>
                                            </td>
                                            <td class="value-title">
                                                <div class="value-style">
                                                    <div class="value-content">@maskedPhoneNumber</div>
                                                </div>
                                            </td>
                                        </tr>
                                        @*<tr>
                                            <td class="label-title">
                                                <label>Giới tính</label>
                                            </td>
                                            <td class="value-title">
                                                <div class="value-style">
                                                    <div class="value-content">@Model.username</div>
                                                </div>
                                            </td>
                                        </tr>*@
                                        <tr>
                                            <td class="label-title">
                                                <label>Ngày sinh</label>
                                            </td>
                                            <td class="value-title">
                                                <div class="value-style">
                                                    @{
                                                        // Assuming ngay_sinh is a DateTime property in your model
                                                        string formattedDate = Model.ngay_sinh?.ToString("dd/MM/yyyy");
                                                    }
                                                    <div class="value-content">@formattedDate</div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label-title">
                                                <label>Địa chỉ</label>
                                            </td>
                                            <td class="value-title">
                                                <div class="value-style">
                                                    <div class="value-content">@Model.dia_chi</div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                            <div class="body-main_right">
                                <div class="avatar-card">
                                    <div class="avatar-card__image">
                                        <div class="avatar-images" style="background-image: url('@Url.Content(imageUrl)')"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
